<div class="hero-section-tasks">
  <div class="hero-content-tasks">
    <h1 class="hero-title-tasks">¡Sigue Adelante y Completa Tus Tareas!</h1>
    <p class="hero-subtitle-tasks">Cada paso que das te acerca más a tus metas. ¡No te detengas ahora!</p>
  </div>
</div>

<div class="container mt-4" id="tasks" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
  <div class="game-path">
    <% @tasks.each_with_index do |task, index| %>
      <div class="task-node">
        <div class="task-connector"></div>
        <%= link_to task_path(task), class: 'task-link' do %>
          <div class="task-circle <%= task.is_finished ? 'task-completed' : 'task-in-progress' %>">
            <%= task.is_finished ? '✓' : index + 1 %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
