<div style="padding: 50px 0; text-align: center;">
  <h1 style="color: #004d00; font-size: 3rem; font-weight: bold;">
    <%= "Bienvenido, #{current_user.name}!" %>
  </h1>
  <p style="color: #666; font-size: 1.25rem;">Tu plataforma favorita para aprender sobre Estática.</p>

  <div class="text-center" style="margin-top: 30px;">
    <img src="/bubbles.png" alt="Descripción del SVG" class="img-fluid" style="max-width: 60%;">
  </div>
</div>

<div class="container my-5">
  <div class="row align-items-center">
    <!-- Columna para el SVG -->
    <div class="col-md-6 text-center">
      <img src="/image2.png" alt="Descripción del SVG" class="img-fluid" style="max-width: 80%;">
    </div>
    
    <!-- Columna para el texto -->
    <div class="col-md-6">
      <h2 class="text-dark font-weight-bold">Tareas de alternativa</h2>
      <p class="text-muted">
        Explora nuestras tareas de opción múltiple que están en progreso. ¡Haz clic para ver más!
      </p>
      <%= link_to tasks_path(status: 'in_progress', task_type: 'multi_choice'), class: 'btn btn-custom btn-primary' do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
          <rect x="3" y="4" width="18" height="2" rx="1" ry="1"></rect>
          <rect x="3" y="10" width="18" height="2" rx="1" ry="1"></rect>
          <rect x="3" y="16" width="18" height="2" rx="1" ry="1"></rect>
          <circle cx="5" cy="5" r="1"></circle>
          <circle cx="5" cy="11" r="1"></circle>
          <circle cx="5" cy="17" r="1"></circle>
        </svg>
      <% end %>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row align-items-center">
    <!-- Columna para el texto -->
    <div class="col-md-6">
      <h2 class="text-dark font-weight-bold">Tareas de cálculo numérico</h2>
      <p class="text-muted">
        Descubre nuestras tareas de cálculo numérico que están en progreso. ¡Haz clic para ver más!
      </p>
      <%= link_to tasks_path(status: 'in_progress', task_type: 'numeric'), class: 'btn btn-custom btn-primary' do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calculator">
          <rect x="4" y="2" width="16" height="20" rx="2" ry="2"></rect>
          <line x1="4" y1="6" x2="20" y2="6"></line>
          <line x1="8" y1="10" x2="8" y2="14"></line>
          <line x1="12" y1="10" x2="12" y2="14"></line>
          <line x1="16" y1="10" x2="16" y2="14"></line>
          <line x1="8" y1="16" x2="16" y2="16"></line>
        </svg>
      <% end %>
    </div>

    <!-- Columna para el SVG -->
    <div class="col-md-6 text-center">
      <img src="/image3.png" alt="Descripción del SVG" class="img-fluid" style="max-width: 80%;">
    </div>
  </div>
</div>
