<div class="container mt-4" style="max-width: 800px; margin: auto;">
    <div class="card" style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);">
        <div class="card-body" style="padding: 2rem;">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="rgba(0, 77, 0, 1)" viewBox="0 0 200 200" data-name="Layer 1" id="Layer_1" width="50" height="50">
            <path d="M114,100l49-49a9.9,9.9,0,0,0-14-14L100,86,51,37A9.9,9.9,0,0,0,37,51l49,49L37,149a9.9,9.9,0,0,0,14,14l49-49,49,49a9.9,9.9,0,0,0,14-14Z"></path>
          </svg>           -->
          <h1 class="hero-title-tasks">¡Oh no! 😅 La respuesta fue incorrecta.</h1>
          <h5 class="mb-3" style="font-weight: 700;"> ¡No te preocupes, aquí va una pista para ayudarte! 💡: <%= @current_hint %></h5>

            <div class="d-flex justify-content-center mt-4">
              <%= button_to "Volver a la Pregunta", numeric_question_path(@numeric_question), method: :get, id: "retry_button", class: "btn btn-primary me-2" %>
              <%= button_to "Saltar Tarea", tasks_path, method: :get, class: "btn btn-danger" %>
            </div>            
        </div>
    </div>
</div>


<script>
  document.getElementById('retry_button').onclick = function() {
    setTimeout(function() {
      window.location.reload();
    }, 100);
  };
</script>
