<div class="container mt-4" style="max-width: 800px; margin: auto;">
    <div class="card" style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);">
        <div class="card-body" style="padding: 2rem;">

            <h1 class="hero-title-tasks">Incorrecto!</h1>
            <h5 class="mb-3" style="font-weight: 700;">Recuerda que:  <%= @current_hint %></h5>

            <%= button_to "Volver a la Pregunta", numeric_question_path(@numeric_question), method: :get, id: "retry_button" %>
            <button type="submit" class="btn" style="border: 1px solid black; background: none; cursor: pointer; margin-left: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="24" height="24">
                  <path d="M10 14L12.2728 19.3032C12.5856 20.0331 13.5586 20.1103 13.9486 19.4185C14.7183 18.0535 15.8591 15.8522 17 13C19 8 20 4 20 4C20 4 16 5 11 7C8.14784 8.14086 5.94647 9.28173 4.58149 10.0514C3.88975 10.4414 3.96687 11.4144 4.69678 11.7272L10 14Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </button>
        </div>
    </div>
</div>


<script>
  document.getElementById('retry_button').onclick = function() {
    setTimeout(function() {
      window.location.reload();
    }, 100);
  };
</script>
